<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">LoanSaathi</div>
  </div>

  <nav class="menu">
    <a routerLink="/customer/dashboard" routerLinkActive="active">
      <i class="fa-solid fa-chart-line"></i> Dashboard
    </a>

    <a routerLink="/customer/applications/apply" routerLinkActive="active">
      <i class="fa-solid fa-file-signature"></i> Apply Loan
    </a>

    <a routerLink="/customer/loans" routerLinkActive="active">
      <i class="fa-solid fa-wallet"></i> My Loans
    </a>

    <a routerLink="/customer/payments" routerLinkActive="active">
      <i class="fa-solid fa-credit-card"></i> My Payments
    </a>

    <a routerLink="/customer/profile" routerLinkActive="active">
      <i class="fa-solid fa-user"></i> Profile
    </a>

    <a routerLink="/customer/support" routerLinkActive="active">
      <i class="fa-solid fa-headset"></i> Support
    </a>
  </nav>

  <div class="sidebar-footer">
    <button (click)="logout()" class="logout-btn">
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    </button>
  </div>
</div>
